<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="spotify-track-service">
  <template>
    <style>
      :host {
      }
    </style>
    <iron-ajax
        auto="[[_areParamsValid(queryParams)]]"
        url="[[apiUrl]]"
        on-response="_handleResponse"
        loading="{{refreshing}}"
        params="[[queryParams]]"
        debounce-duration="500"
    >
    </iron-ajax>
  </template>
  <script>
    Polymer({
      is: 'spotify-track-service',
      properties: {
        query: {
          type: String
        },
        queryParams: {
          type: Object,
          // here we use a computed property binding. we could also use observers.
          computed: '_makeParams(query)'
        },
        refreshing: {
          type: Boolean,
          notify: true,
          value: false
        },
        apiUrl: {
          readOnly: true,
          value: 'https://api.spotify.com/v1/search'
        }
      },
      /**
       * makes an object to pass to the spotify api.
       * @param query
       * @returns {{type: string, q: *}}
       * @private
       */
      _makeParams: function(query) {
        return {
          type: 'track',
          q: query
        }
      },
      _areParamsValid: function(queryParams) {
        return queryParams && 'q' in queryParams && 'type' in queryParams && queryParams.q.length > 0;
      },
      _handleResponse: function(e) {
        // the actual tracks are in event.detail.response.tracks.items;
        if('detail' in e && 'response' in event.detail && 'tracks' in event.detail.response) {
          this.fire('tracks-available', event.detail.response.tracks.items)
        }
      }
    });
  </script>
</dom-module>